@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url(../scss/_maps.scss);
@import url(../scss/_extend.scss);
@import url(../scss/_mixin.scss);


:root{
    --violeta:#5d04a7;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--orange);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
    padding:0 7%;
    padding-top: 0rem;
}

.btn{
    font-size: 2rem;
    padding:.7rem 3rem;
    background:var(--orange);
    color:#fff;
    margin-top: 1rem;
    cursor: pointer;
}

.btn:hover{
    background:#333;
}

.logo {
    width: 120px;
    padding-left: 20px;
    cursor: pointer;
}

/* header */


/* index */

.home{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background:url(../img/Fondo\ .png) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        flex-wrap: wrap;


    & .image{
                flex:1 1 40rem;
}

    & .image img{
                width:100%;
}

    & .content{
    flex:1 1 40rem;
}

    & .content h1{
    font-size: 5rem;
    color:rgb(255, 255, 255);
}

    & .content p{
    font-size: 1.8rem;
    color:rgb(255, 255, 255);
    padding:1rem 0;
}
}
/* Nosotros  */


.about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:url(../img/Fondo\ .png) no-repeat;
    flex-wrap: wrap;
    padding-bottom: 2rem;


    & .image{
        flex:1 1 40rem;
}

    & .image img{
        width:100%;
}

    & .content{
        flex:1 1 40rem;
}

    & .content h1{
        font-size: 5rem;
        color:rgb(255, 255, 255);
}

    & .content p{
        font-size: 1.6rem;
        color:rgb(255, 255, 255);
        padding:1rem 0;
}

}
/* Servicios */


.service{
    height: 100%;
    background:url(../img/Fondo\ .png);

    & .box-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding:2rem 0;
}

    & .box-container .box{
        background:#fff;
        margin:2rem;
        padding:1rem;
        width:30rem;
        text-align: center;
        box-shadow: 0 0 .3rem rgba(0,0,0,.3);
}

    & .box-container .box i{
        font-size: 4rem;
        padding:1rem;
        color:var(--orange);
}

    & .box-container .box h3{
        font-size: 2rem;
        color:rgb(0, 0, 0);
}

    & .box-container .box p{
        font-size: 1.3rem;
        color:rgb(0, 0, 0);
        padding:1rem;
}

.plan{
    height: 100%;
    background:url(../img/Fondo\ .png);
}

.box{
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.box:hover{
    transform: scale(1.1);
}
}


/* Portafolio */


#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &-heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

}
    &-heading span{
        color: #8c00ff;
}
    &-heading h3{
        font-size: 2.4rem;
        color: #ffffff;
        font-weight: 600;
}

    &-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
        flex-wrap: wrap;
}

    &-box{
        width:350px;
        background-color: #ffffff;
        border: 1px solid #ececec;
        margin: 20px 20px;

}

    &-img{
        transform: scale(1);
        transition: 0.3s ease-in-out;
}

    &-img:hover{
        transform: scale(1.1);
}


    &-img{
        width:100%;
        height: auto;
}


    &-img img{
        width:100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
}

    &-text{
        padding: 50px;
        display: flex;
        flex-direction: column;
}

    &-text span{
        color: #8c00ff;
        font-size: 160%
}

    &-text .blog-title{
        font-size: 200%;
        font-weight: 500;
        color: #000000;
}

    &-text p{
        color: #292929;
        font-size: 110%;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 20px 0px;
}

    &-text a{
        color: #2b2b2b;
}

    &-text a:hover{
        color: #8c00ff;
        transition: all ease 0.3s;
}
}

/* Contact */

.contact{
    min-height: 100vh;
    display: flex;
    background:url(../img/Fondo\ .png) no-repeat;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    & form{
        flex:1 1 40rem;
        padding:2rem;
        margin:1rem;
        margin-top: 4rem;
        box-shadow: 0 0 .5rem rgba(0,0,0,.3);
}

    & .content{
        flex:1 1 40rem;
        padding:3rem 1rem;
}

    & form .box{
        width:100%;
        color:rgb(0, 0, 0);
        height:4rem;
        font-size: 1.7rem;
        border-bottom: .2rem solid rgba(0,0,0,.3);
        text-transform: none;
        margin:1rem 0;
}

    & form .box::placeholder{
        text-transform: capitalize;
}

    & form .box:focus{
        border-color: var(--orange);
}

    & form .message{
        height:15rem;
        resize: none;
}

    & .content h3{
        font-size: 4rem;
        color:rgb(255, 255, 255);
}

    & .content p{
        font-size: 1.8rem;
        color:rgb(255, 255, 255);
        padding:1rem 0;
}

    & .content .icons{
        font-size: 1.7rem;
        color:rgb(255, 255, 255);
        padding:.7rem 0;
}

    & .content .icons i{
        padding-right: .5rem;
        color:var(--orange);
}
}


/* footer  */

.footer{
    background:rgb(0, 0, 0);


    & .box-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
}

    & .box-container .box{
        margin:2rem;
        flex:1 1 30rem;
}

    & .box-container .box h3{
        font-size: 2.5rem;
        color:#fff;
}

    & .box-container .box p{
        font-size: 1.4rem;
        color:#eee;
        padding:1rem 0;
}

    & .box-container .box a{
        font-size: 1.8rem;
        color:#eee;
        padding:.4rem 0;
        display: block;
}

    & .box-container .box a:hover{
        text-decoration: underline;
}   

    & .box-container .box:nth-child(2){
        text-align: center;
}

    & .box-container form{
        display: flex;
        align-items: center;
}

    & .box-container form input[type="email"]{
        height:4.1rem;
        width:100%;
        font-size: 1.7rem;
        padding:0 1rem;
}

    & .box-container form .btn{
        margin-top: 0;
}

    & .box-container form .btn:hover{
        color:rgb(0, 0, 0);
        background:#ccc;
}

    & .credit{
        font-size: 2rem;
        background:rgb(14, 14, 14);
        text-align: center;
        color:#fff;
        padding:2rem 1rem;
        font-weight: normal;
}

    & .credit a{
        color:var(--orange);
}
}










/* media queries  */

@media (max-width:768px){

    html{
        font-size: 55%;
    }

    .home .content{
        text-align: center;
    }

    .home .content h1{
        font-size: 4rem;
    }

    .about .content h1{
        font-size: 4rem;
    }

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0 1rem;
    }

    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:6.2rem; right:-120%;
        height:100%;
        width:100%;
        border-top: .2rem solid rgba(0,0,0,.3);
    }

    header .navbar ul{
        height:100%;
        width:100%;
        flex-flow: column;
        background:rgb(117, 0, 133);
        padding-bottom: 15rem;
    }

    header .navbar ul li{
        text-align: center;
        width:100%;
        margin:1rem 0;
    }

    header .navbar ul li a{
        font-size: 4rem;
        color:rgb(0, 0, 0);
        display: block;
    }

    header .navbar ul li a:hover{
        color:var(--orange);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        right:0;
    }

    section{
        padding-top: 5rem;
    }

    .footer .box-container .box:last-child{
        text-align: center;
    }

    .footer .box-container .box:last-child p{
        font-size: 1.7rem;
    }

    .footer .box-container .box:last-child form{
        flex-flow: column;
    }

    .footer .box-container .box:last-child form .btn{
        margin-top: 1rem;
        width:100%;
    }

}

